#encrypt {
    margin-right: 50px;
}

/* Copy button at the end of the textarea */
#copy-btn {
    position: absolute;
    right: 65px;
    bottom: 50px;
    padding: 5px;
    border-radius: 5px;
    color: #508bfc;
    cursor: pointer;
}

#bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

h3 {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 27px;
    text-align: center;
    font-weight: bolder;
}

#quantum {
    /*Linear Gradient text font color from blue to violet*/
    background: -webkit-linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;

    font-size: 32px;
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}